body {
    min-width: 300px;
}

label {
    display: block;
    padding-bottom: 0.3em;
}

#tileset label {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#tileset label input {
  visibility: hidden;
  position: absolute;
}

#tileset label input + div {
  cursor: pointer;
  border: 6px solid transparent;
  text-align: center;
}

#tileset label input:checked + div {
  border: #080 solid 6px;
}

